= turbo_frame_tag :new_notebook do
  = modal title: 'Create new folder', description: 'Folders help to keep notes organized under a common subtopic. Just like a notebook.', overlay: true do
    = render 'form'
