.table-of-content
.note-content{ 
  data: { 
      controller: 'note', 
      note_save_url_value: notebook_note_path(notebook, note), 
      note_csrf_token_value: form_authenticity_token 
    } 
  }
  %h1#note-title{ contenteditable: true, placeholder: 'Untitled', data: { note_target: :title, title_id: note.hashed_param } }= note.name
