.table-of-content
.note-content{ 
  data: { 
      controller: 'note', 
      note_save_url_value: notebook_note_path(notebook, note)
    } 
  }
  %h1#note-title{ contenteditable: true, placeholder: 'Untitled', data: { note_target: :title, title_id: note.hashed_param } }= note.name
