span.highlight {
  color: $blue;
}

.auth-container a {
  color: $blue;
}

.auth-container a:hover {
  color: $light-blue;
}

.auth-container h2 {
  color: $blue;
}

.auth-container .logo {
  font-size: 3em;
}

.prompt {
  font-size: 1.2em;
  font-weight: 500;
  font-family: "Lora", serif;
}

.prompt:last-child {
  margin-top: auto;
}

.auth-form {
  width: 50%
}

.auth-prompt {
  text-align: center;
  font-family: "DM Sans", sans-serif;
}

.auth-column label {
  display: inline-block;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  font-size: 1.2em;
  margin-top: 1em;
}

.auth-column input {
  margin-top: 0.8em;
  background: transparent;
  border: 1px solid $light-gray;
  border-radius: 0.4em;
  font-size: 1em;
  padding: 0.4em 0.8em;
  font-family: "DM Sans", sans-serif;
  width: 100%;
}

.auth-column input:focus {
  // border: 2px solid $blue;
  border: 1px solid transparent;
  outline: 2px solid $blue;
}
