.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.6em 6em;
  border-bottom: 1px solid $light-gray;
}

.header-actions {
  display: flex;
  align-items: center;
  gap: 6em;
}


