* {
  box-sizing: border-box;
  color: $black;
}

body {
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

#logo {
  color: $blue;
  font-style: italic;
  font-size: 2em;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0em;
  margin-bottom: 0.4em;
}

p {
  margin-top: 0.4em;
  margin-bottom: 0.4em;
}

a {
  text-decoration: none;
}

.action-form {
  display: flex;
  flex-direction: column;
  gap: 0.4em;

  label {
    font-size: 0.8em;
    font-weight: 600;
  }

  input {
    border: 1px solid $light-gray;
    border-radius: 0.4em;
    padding: 0.8em 1em;
    transition: 0.4s;
    font-size: 1em;
  }

  input:focus {
    outline: none;
    border: 1px solid $blue;
    transition: 0.4s;
  }

  input[type='submit'] {
    border: none;
    cursor: pointer;
    font-size: 0.8em;
  }
}

i {
  cursor: pointer;
}
