.search-bar
  = fa_icon :magnifying_glass
  = form_with url: '#', method: :get do |f|
    = f.text_field :query, placeholder: 'Search anything'
  %span.search-action-prompt Ctrl K
  
:javascript
  $(function() {
    $(document).on("keydown", function(e) {
      if(e.ctrlKey && e.key === 'k') {
        e.preventDefault();
        $('#query').focus();
      }else if(e.key === 'Escape') {
        $("#query").blur();
      }
    })
  })
