.avatar {
  margin-left: auto;
  position: relative;
  cursor: pointer;

  & > img:active {
    transform: scale(0.85);
  }

  .avatar-expander {
    position: absolute;
    bottom: -5px;
    right: -5px;
    background-color: lighten($blue, 50%);
    padding: 0.2em;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid $white;

    i {
      color: $blue;
      font-size: 0.8em;
    }
  }

  .avatar-dropdown {
    position: absolute;
    width: 16em;
    left: -12em;
    bottom: -10em;
    background-color: $white;
    padding: 0.6em 1em;
    border: 1px solid $light-gray;
    border-radius: 0.4em;
    box-shadow: 0px 10px 8px -5px $light-gray;

    .avatar-dropdown-header {
      display: flex;
      align-items: center;
      gap: 1em;
      padding-bottom: 0.6em;
      border-bottom: 1px solid $light-gray;

      p {
        margin: 0em;

        &:first-child {
          font-size: 1.2em;
        }

        &:last-child {
          font-size: 0.8em;
          color: $gray;
        }
      }
    }

    .avatar-dropdown-content {
      display: flex;
      flex-direction: column;
      padding: 0.6em 0em;
      border-bottom: 1px solid $light-gray;
    }

    .avatar-dropdown-actions {
      margin-top: 0.6em;

      .avatar-link:last-child:hover {
        color: $red;
      }

      i {
        color: inherit;
      }
    }

    .avatar-link {
      text-decoration: none;
      display: flex;
      align-items: center;
      gap: 1em;
      color: $gray;

      &:hover {
        color: $blue;

        i {
          color: inherit;
        }
      }
    }
  }
}
