.primary-button {
  color: $white;
  background-color: $blue;
  cursor: pointer;
}

.auth-column input.primary-button {
  color: $white;
  background-color: $blue;
  border: 1px solid $blue;
  font-weight: 600;
}

.auth-column input.primary-button:hover {
  background-color: $light-blue;
  transition: 1s;
}

.btn {
  display: flex;
  gap: 0.6em;
  align-items: center;
  font-weight: 600;
  font-size: 0.8em;
  padding: 0.6em;
  border-radius: 0.4em;
}

.btn-normal {
  background-color: $blue;
  color: $white;

  i {
    color: inherit;
  }
}

.btn-normal:hover {
  background-color: $light-blue;
  transition: 0.5s;
}
