.tooltip {
  position: relative;
  
  .tooltip-text {
    position: fixed;
    left: auto;
    transform: translate(-50%, -100%); 
    white-space: nowrap;
    font-size: 0.7rem;
    background-color: $black;
    color: $white;
    font-weight: 600;
    padding: 0.4em 0.6em;
    border-radius: 0.4em;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.6s ease;
    box-shadow: 0px 5px 8px $light-gray;
    z-index: 1000; 
  }
  
  &:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
  }
}

.context-menu {
  position: fixed;
  width: fit-content;
  background: $white;
  border: 1px solid $light-gray;
  display: flex;
  flex-direction: column;
  gap: 0.4em;
  border-radius: 0.4em;
  padding: 0.4em;
  box-shadow: 0px 10px 8px -5px $light-gray;
  z-index: 10;

  .context-menu-item {
    background-color: inherit;
    display: flex;
    gap: 1em;
    align-items: center;
    color: $black;
    padding: 0.4em 1em;
    font-weight: 500;
    font-size: 0.9rem;
    border-radius: 0.4em;
  }

  .context-menu-item:hover {
    background-color: lighten($light-gray, 9%);
  }
}
