= main_sidebar do
  = main_sidebar_item(dashboard_path, 'Dashboard', 'house')
  = main_sidebar_item(notebooks_path, 'Notebooks', 'book')
  = main_sidebar_item('#', 'Published Notes', 'square-share-nodes')

